
body {
    background-image: url("../images/cloud.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #3a3a6979;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.double-image {
    justify-content: center; 
    align-items: center;
    display: flex;
    gap: 30px;
}

.content {
    margin-left: 270px; 
    padding: 20px;
}


header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

ul {
    padding-left: 20px;
}


h1 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #222;
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px; 
    height: 100vh;
    background: #9aa9b1; 
    color: rgba(36, 59, 85, 0.257);
    padding-top: 20px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3); 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar img {
    width: 150px; 
    margin-bottom: 20px;
}


.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background 0.3s, transform 0.2s;
}


.sidebar ul li a:hover {
    background: #444;
    transform: scale(1.05); 
    border-radius: 5px;
}


section, article {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
    margin-bottom : 2%;
    border:2px solid rgb(211, 211, 211);
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}


figure {
    text-align: center;
    margin: 20px 0;
}

figcaption {
    font-style: italic;
    color: #555;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid black; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #333;
    color: white;
}


footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
    margin-top: 20px;
}

.conteneur{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 20px; 
}

.conteneur img {
    flex-basis: 30%; 
    max-width: 200px; 
    height: auto;
    flex-shrink: 0; 
    border-radius: 10px;
}

.container p {
    flex: 1; 
    font-size: 1.2em; 
}
